html,
body {
  background-color:#F5F6ED ;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


input, textarea {
  margin:10px;
  padding: 5px;
  color: black;
  background: #F5F6ED;
  border: 1px solid rgb(152, 152, 152);
  border-radius: 10px;
}

input.submitBtn{
  background-color: greenyellow;
  border: 1px solid rgb(42, 140, 42);
}

input.submitBtn:disabled{
  opacity:.5
}

.clickable {
  cursor: pointer;
}