.newNote {
  background-color: rgb(191, 247, 191);
  padding: 10px;
  border: 1px dashed green;
  border-radius: 10px;
  min-width: 100%;
  height: 250px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newNote:hover{
  transform: translate(0, -5px);
  transition: 100ms;
}

.newNote:not(:hover){
  transform: translate(0, 0px);
  transition: 200ms;
}

.note{
  background-color: antiquewhite;
  border-radius: 10px;
  width: 100%;
  height: 250px;
  border: 1px dashed #E1C5A5;
  padding: 10px;

}

.note:hover{
  transform: scale(1.03);
  transition: 200ms;
}

.note:not(:hover){
  transform: scale(1.0);
  transition: 100ms;
}


.thrash {
  cursor: pointer;
}

.noteTitle {
  border-bottom: 2px solid rgb(154, 137, 116);
  display: inline;
  margin-bottom: 27px !important;
  
}
